<div class="container-fluid">

  <!-- form -->
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-4">
        <div class="mb-3">
          <label for="chartheader">Chart Header</label>
          <select class="form-control" id="chartheader" name="chartheader" formControlName="chartheader"
            (change)="onChartHeaderChange($event)">
            <option value="1">Chart 1</option>
            <option value="2">Chart 2</option>
            <option value="3">Chart 3</option>
            <option value="4">Chart 4</option>
            <option value="5">Chart 5</option>
            <option value="6">Chart 6</option>
          </select>
        </div>
      </div>
      <div class="col-4">
        <div class="mb-3">
          <label for="position">Position</label>
          <select class="form-control" id="position" name="position" formControlName="position">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
          </select>
        </div>
      </div>
      <div class="col-4">
        <div class="mb-3">
          <label for="size">Size</label>
          <select class="form-control" id="size" name="size" formControlName="size">
            <option value="full">full</option>
            <option value="half">half</option>
            <option value="quarter">quarter</option>
          </select>
        </div>
      </div>
    </div>

    <div formArrayName="data">
      <div class="col-12" *ngFor="let item of data.controls; let i = index" [formGroupName]="i">

        <div *ngIf="type?.value === 'pie'" class="row">
          <div class="col-6 mb-3">
            <label for="asset">Asset Name</label>
            <input class="form-control" formControlName="asset" [disabled]="true" />
          </div>
          <div class="col-6 mb-3">
            <label for="amount">Amount</label>
            <input type="number" class="form-control" formControlName="amount" />
          </div>
        </div>

        <div *ngIf="type?.value === 'bar'" class="row">
          <div class="col-4 mb-3">
            <label for="month">Month</label>
            <input class="form-control" formControlName="month" [disabled]="true" />
          </div>
          <div class="col-4 mb-3">
            <label for="avgTemp">Avg Temp</label>
            <input type="number" class="form-control" formControlName="avgTemp" />
          </div>
          <div class="col-4 mb-3">
            <label for="iceCreamSales">Ice-Cream Sales</label>
            <input type="number" class="form-control" formControlName="iceCreamSales" />
          </div>
        </div>

        <div *ngIf="type?.value === 'line'" class="row">
          <div class="col-4 mb-3">
            <label for="quarter">Quarter</label>
            <input class="form-control" formControlName="quarter" [disabled]="true" />
          </div>
          <div class="col-4 mb-3">
            <label for="petrol">Petrol</label>
            <input type="number" class="form-control" formControlName="petrol" />
          </div>
          <div class="col-4 mb-3">
            <label for="diesel">Diesel</label>
            <input type="number" class="form-control" formControlName="diesel" />
          </div>
        </div>

        <hr />
      </div>
    </div>

    <div class="col-12">
      <div class="mb-3">
        <button type="submit" class="btn btn-primary">Update</button>
      </div>
    </div>
  </form>

  <!-- charts -->
  <div class="row">
    <div *ngFor="let chart of chartData" [class]="chart.size">
      <p class="text-center">{{ chart.chartHeader }}</p>
      <div style="width: 100%; height: 400px;">
        <ag-charts style="height: 100%" [options]="chart.chartOptions"></ag-charts>
      </div>
    </div>
  </div>

</div>