.ag-charts-canvas-center {
    width: 100% !important;
    height: 100% !important;
}

.ag-charts-wrapper {
    width: 100% !important;
}

.row {
    display: flex;
    justify-content: center;
    width: 100% !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}